.footer {
  padding: 2rem 0;
  background-color: #d6efc7;
}

.text-center {
  text-align: center;
}

.footer .ctx__icons {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 15px 8px;
}

.footer .ctx__icons > .fab,
.footer .ctx__icons > .fas {
  font-size: 30px;
}

.my-5 {
  margin: 2rem 0;
}
